/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
.mapholder{
    height: 100%;
    width: 100%;
    display: block;
    clear: none;
}

/*
 * Important tag is needed to make sure map fits screen.
 */
#map {
    height: 100%;
}

.login {
    float: right;
    margin: 5px;
    padding: 8px;
    background-color: lightgrey;
    border-radius: 10px;
    position: absolute;
    right: 60px;
    top: 5px;
    z-index: 1;
}

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}