{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ restaurant.name }} Details</title>
    <link rel="stylesheet" type="text/css" href="{% static 'map/styles.css' %}">
    <style>
        html {
            width: 100%;
            height: 100%;
        }
        .main {
            width: 100%;
            height: 100%;
        }
        #mini-map {
            height: 100%;
            width: 100%;
            position: absolute;
        }
        br {
            line-height: 35px;
        }
        body {
            line-height: 20px;
        }

        .result-card a {
            text-decoration: none;
        }

        .result-card a:hover {
            text-decoration: underline;
        }

        .search-bar {
            padding: 0px;
        }
        .search-input {
            margin-top: 0px;
            margin-left: 5px;
        }
        .search-icon {
            font-size: 16px;
            top: 4px;
        }
        
        .frame1 {
            font-family: 'Roboto', 'Nunito', sans-serif; margin: ;
        }
        
    </style>
</head>
<body>
<div class="main">
    <div class="frame1">
        <button class = "home-button" onclick=window.location.href="{% url 'map' %}">Home</button>
        <div class="search-bar">
            <form action="{% url 'search' %}" method="GET">
                <input type="text" name="query" placeholder="Search..." class="search-input">
                <button type="submit" class="search-icon">🔎︎</button>
            </form>
        </div>
        {% if not request.user.is_authenticated %}
            <button class = "login" onclick=window.location.href="{% url 'login' %}">Login</button>
        {% else %}
            <button class = "logout" onclick=window.location.href="{% url 'logout' %}">Logout</button>
            <button class="account-button" onclick="window.location.href='{% url 'favorites' %}'">Account</button>
        {% endif %}
    </div>
    <div class="sidebar-search" id="sidebar">
        <div class="model">
            <button class="close-button" onclick="history.back()">⨉</button>
            <button class="favorite" onclick="toggleFavorite('{{ request.path }}','{{ restaurant.name }}')" id="favorite">♡</button>
            <div class="model-header"><h2>{{ restaurant.name }}</h2></div>
            <div class="results">
                <div class="result-card">
                    {{ restaurant.rating }} <span class="star-text">★</span> {{ cuisine_type }}
                </div>
                <div class="result-card">
                    {{ restaurant.address }}<br>
                    <a href="https://www.google.com/maps/dir/?api=1&destination={{ restaurant.lat }},{{ restaurant.lng }}" target="_blank">Get Directions on Google Maps</a>
                </div>
                <div class="result-card">
                    <b>Phone:</b> {{ restaurant.phone }}<br>
                    <b>Website:</b> <a href="{{ restaurant.website }}" target="_blank">{{ restaurant.website }}</a>
                </div>
                {% if restaurant.reviews %}
                    {% for review in restaurant.reviews %}
                    <div class="result-card">
                        <strong>{{ review.author_name }}</strong> (Rating: {{ review.rating }} <span class="star-text">★</span>): <br>
                        {{ review.text }}
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="result-card">No reviews available</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="mini-map"></div>
</div>

<script>
    function initMiniMap() {
        var location = {lat: {{ restaurant.lat }}, lng: {{ restaurant.lng }} };
        var map = new google.maps.Map(document.getElementById('mini-map'), {
            zoom: 15,
            center: location,
            mapTypeControl: false,
            streetViewControl: true,
            fullscreenControl: false,
            zoomControl: true,

            // Set the positions of the controls
            fullscreenControlOptions: {
                position: google.maps.ControlPosition.LEFT_TOP
            },
            mapTypeControlOptions: {
                position: google.maps.ControlPosition.LEFT_TOP // Directly below fullscreen button
            },
            streetViewControlOptions: {
                position: google.maps.ControlPosition.LEFT_BOTTOM
            },
            zoomControlOptions: {
                position: google.maps.ControlPosition.LEFT_BOTTOM
            }
        });
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }

    // Load Google Maps Script
    const script = document.createElement('script');
    script.src = `https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&callback=initMiniMap`;
    script.defer = true;
    document.head.appendChild(script);

    // Open the Sidebar
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('sidebar').style.display = 'block';
    });
</script>

<script>

function extractPlaceId(path) {
    let tokens = path.split("/");
    return tokens[2];
}

async function isFavorite(placeId) {
    const favorites = await fetchFavorites();
    console.log(favorites);
    return favorites.includes(placeId);
}


async function setButtonState() {
    let button = document.getElementById("favorite");
    let placeId = extractPlaceId('{{ request.path }}');
    let isFav = await isFavorite(placeId);
    button.innerText = isFav ? "❤" : "♡";
}

document.addEventListener("DOMContentLoaded", setButtonState);

async function fetchFavorites() {
    const response = await fetch('{% url "get_favorites" %}');
    if (response.ok) {
        return await response.json();
    } else {
        console.error('Failed to fetch favorites');
        return [];
    }
}

function addFavorite(placeId, name) {
    fetch(`{% url "add_favorite" %}`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken'),
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            place_id: placeId,
            name: name
        })
    })
    .then(response => {
        if (response.ok) {
            // showNotification('Added to favorites!', 'added');
        } else if (response.status === 403) {
            window.location.href = '/login';
        }
    });
}

function removeFavorite(placeId, name) {
    fetch(`{% url "remove_favorite" %}`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken'),
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            place_id: placeId,
            name: name
        })
    })
    .then(response => {
        if (response.ok) {
            // showNotification('Removed from favorites!', 'removed');
        } else if (response.status === 403) {
            window.location.href = '/login';
        }
    });
}

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function toggleFavorite(path, name) {
    let placeID = extractPlaceId(path);
    let button = document.getElementById("favorite");

    if (button.innerText === "❤") {
        removeFavorite(placeID, name);
        button.innerText = "♡"; // Change to "Favorite"
    } else {
        addFavorite(placeID, name);
        button.innerText = "❤"; // Change to "Unfavorite"
    }
}
</script>

</body>
</html>
