{% extends 'map/base.html' %}
{% block content %}
{% load static %}

<script>
    let map;
    let service;
    let infowindow;
    let searches = ['american_restaurant', 'bakery', 'bar', 'barbecue_restaurant', 'brazilian_restaurant',
'breakfast_restaurant', 'brewpub', 'brunch_restaurant', 'cafe', 'chinese_restaurant', 'coffee_shop', 'fast_food_restaurant',
'french_restaurant', 'greek_restaurant', 'hamburger_restaurant', 'ice_cream_shop', 'indian_restaurant',
'indonesian_restaurant', 'italian_restaurant', 'japanese_restaurant', 'korean_restaurant', 'lebanese_restaurant',
'meal_delivery', 'meal_takeaway', 'mediterranean_restaurant', 'mexican_restaurant', 'middle_eastern_restaurant',
'pizza_restaurant', 'ramen_restaurant', 'restaurant', 'sandwich_shop', 'seafood_restaurant', 'spanish_restaurant',
'steak_house', 'sushi_restaurant', 'thai_restaurant', 'turkish_restaurant', 'vegan_restaurant', 'vegetarian_restaurant',
'vietnamese_restaurant',]

    function initMap() {
        console.log("testing");
        const atlantaCenter = new google.maps.LatLng(33.7488, -84.3877)
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            center: atlantaCenter
        });

        infowindow = new google.maps.InfoWindow();

        /* const atlantaBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(33.5486, -84.5762), // Southwest corner
            new google.maps.LatLng(33.8867, -84.2791)  // Northeast corner
        )
        */

        service = new google.maps.places.PlacesService(map);
        for (i = 0; i < searches.length; i++) {
            const request = {
                query: searches[i],
                location: atlantaCenter,
                radius: 15000
            };
            service.textSearch(request, (results, status) => {
                if (status === google.maps.places.PlacesServiceStatus.OK && results) {
                    for (let i = 0; i < results.length; i++) {
                        createMarker(results[i]);
                    }

                    if (results.length > 0) {
                        map.setCenter(results[0].geometry.location);
                    }
                }
            });
        }
    }

    function createMarker(place) {
        if (!place.geometry || !place.geometry.location) {
            console.log("Marker not created!");
            return;
        }

        const marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location,
            title: place.name
        });

        google.maps.event.addListener(marker, "click", () => {
            const content = `<strong>${place.name}</strong><br>${place.formatted_address}`;
            infowindow.setContent(content);
            infowindow.open(map, marker);
        });
    }

    window.initMap = initMap;
</script>

<div class="pageholder">
    <div class="linkholder">
        <div class="mapholder">
            {% if not request.user.is_authenticated %}
            <a class="login" href="{% url 'login' %}">Login</a>
            {% else %}
            <a class="login" href="{% url 'logout' %}">Log Out</a>
            {% endif %}

            <div id="map" style="height: 500px; width: 100%;"></div>
            <script
            src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap&libraries=places"
            defer
            ></script>
        </div>
    </div>
</div>

{% endblock content %}