{% extends 'map/base.html' %}
{% block content %}
{% load static %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    function initMap() {
       const map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: {lat: 33.7488, lng: -84.3877}
       });
       $.ajax({
           method: 'GET',
           success: function (data) {
               console.log(data);
               data?.forEach((i) => {
                   const marker = new google.maps.Marker({
                       position: { lat: parseFloat(i.latitude), lng: parseFloat(i.longitude)},
                       map: map,
                   });
               });
           }
         });
    }

    // Load the Google Maps API script
    function loadGoogleMapsAPI() {
        const script = document.createElement('script');
        script.src = `https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap&v=weekly`;
        script.defer = true;
        document.head.appendChild(script);
    }

    $(document).ready(function(){
        loadGoogleMapsAPI();
    });

</script>

<style>
    #map {
        height: 500px; /* Set the height of the map */
        width: 50%; /* Set the width of the map */
    }
</style>

<div class="pageholder">
    <div class="titleholder">
        <div class="title"><i class="fas fa-compass mr-2"></i> Home </div>
    </div>

    <div class="linkholder">
        <div class="mapholder">
            <div id="map"></div>
        </div>
    </div>
</div>
{% endblock content %}
